Social_NonSocial_Reward/.DS_Store
.DS_Store
UGDG/.DS_Store
UGDG/UGDG_blocks/.DS_Store
UGDG/.DS_Store
UGDG/UGDG_blocks/.DS_Store
Shared_Reward/Images/*
Shared_Reward\Images\*
Shared_Reward/Images/friend.png
bids/*
Mock_Scan/Social/~$Righthand_Participant_Social_Instructions_23Jun21.ppt
Mock_Scan/Social/Righthand_Participant_Social_Instructions_23Jun21.ppt
Mock_Scan/Social/Righthand_Participant_Social_Instructions_23Jun21.ppt
