
Social_NonSocial_Reward/.DS_Store
.DS_Store
UGDG/.DS_Store
UGDG/UGDG_blocks/.DS_Store
.DS_Store
UGDG/.DS_Store
UGDG/UGDG_blocks/.DS_Store
.DS_Store
Ultimatum/Subject_1.csv
Ultimatum/Subject_10.csv
Ultimatum/Subject_100.csv
Ultimatum/Subject_101.csv
Ultimatum/Subject_102.csv
Ultimatum/Subject_103.csv
Ultimatum/Subject_104.csv
Ultimatum/Subject_105.csv
Ultimatum/Subject_106.csv
Ultimatum/Subject_107.csv
Ultimatum/Subject_108.csv
Ultimatum/Subject_109.csv
Ultimatum/Subject_11.csv
Ultimatum/Subject_110.csv
Ultimatum/Subject_111.csv
Ultimatum/Subject_112.csv
Ultimatum/Subject_113.csv
Ultimatum/Subject_114.csv
Ultimatum/Subject_115.csv
Ultimatum/Subject_116.csv
Ultimatum/Subject_117.csv
Ultimatum/Subject_118.csv
Ultimatum/Subject_119.csv
Ultimatum/Subject_12.csv
Ultimatum/Subject_120.csv
Ultimatum/Subject_121.csv
Ultimatum/Subject_122.csv
Ultimatum/Subject_123.csv
Ultimatum/Subject_124.csv
Ultimatum/Subject_125.csv
Ultimatum/Subject_126.csv
Ultimatum/Subject_127.csv
Ultimatum/Subject_128.csv
Ultimatum/Subject_129.csv
Ultimatum/Subject_13.csv
Ultimatum/Subject_130.csv
Ultimatum/Subject_131.csv
Ultimatum/Subject_132.csv
Ultimatum/Subject_133.csv
Ultimatum/Subject_134.csv
Ultimatum/Subject_135.csv
Ultimatum/Subject_136.csv
Ultimatum/Subject_137.csv
Ultimatum/Subject_138.csv
Ultimatum/Subject_139.csv
Ultimatum/Subject_14.csv
Ultimatum/Subject_140.csv
Ultimatum/Subject_141.csv
Ultimatum/Subject_142.csv
Ultimatum/Subject_143.csv
Ultimatum/Subject_144.csv
Ultimatum/Subject_145.csv
Ultimatum/Subject_146.csv
Ultimatum/Subject_147.csv
Ultimatum/Subject_148.csv
Ultimatum/Subject_149.csv
Ultimatum/Subject_15.csv
Ultimatum/Subject_150.csv
Ultimatum/Subject_151.csv
Ultimatum/Subject_152.csv
Ultimatum/Subject_153.csv
Ultimatum/Subject_154.csv
Ultimatum/Subject_155.csv
Ultimatum/Subject_156.csv
Ultimatum/Subject_157.csv
Ultimatum/Subject_158.csv
Ultimatum/Subject_159.csv
Ultimatum/Subject_16.csv
Ultimatum/Subject_160.csv
Ultimatum/Subject_161.csv
Ultimatum/Subject_162.csv
Ultimatum/Subject_163.csv
Ultimatum/Subject_164.csv
Ultimatum/Subject_165.csv
Ultimatum/Subject_166.csv
Ultimatum/Subject_167.csv
Ultimatum/Subject_168.csv
Ultimatum/Subject_169.csv
Ultimatum/Subject_17.csv
Ultimatum/Subject_170.csv
Ultimatum/Subject_171.csv
Ultimatum/Subject_172.csv
Ultimatum/Subject_173.csv
Ultimatum/Subject_174.csv
Ultimatum/Subject_175.csv
Ultimatum/Subject_176.csv
Ultimatum/Subject_177.csv
Ultimatum/Subject_178.csv
Ultimatum/Subject_179.csv
Ultimatum/Subject_18.csv
Ultimatum/Subject_180.csv
Ultimatum/Subject_181.csv
Ultimatum/Subject_182.csv
Ultimatum/Subject_183.csv
Ultimatum/Subject_184.csv
Ultimatum/Subject_185.csv
Ultimatum/Subject_186.csv
Ultimatum/Subject_187.csv
Ultimatum/Subject_188.csv
Ultimatum/Subject_189.csv
Ultimatum/Subject_19.csv
Ultimatum/Subject_190.csv
Ultimatum/Subject_191.csv
Ultimatum/Subject_192.csv
Ultimatum/Subject_193.csv
Ultimatum/Subject_194.csv
Ultimatum/Subject_195.csv
Ultimatum/Subject_196.csv
Ultimatum/Subject_197.csv
Ultimatum/Subject_198.csv
Ultimatum/Subject_199.csv
Ultimatum/Subject_2.csv
Ultimatum/Subject_20.csv
Ultimatum/Subject_200.csv
Ultimatum/Subject_21.csv
Ultimatum/Subject_22.csv
Ultimatum/Subject_23.csv
Ultimatum/Subject_24.csv
Ultimatum/Subject_25.csv
Ultimatum/Subject_26.csv
Ultimatum/Subject_27.csv
Ultimatum/Subject_28.csv
Ultimatum/Subject_29.csv
Ultimatum/Subject_3.csv
Ultimatum/Subject_30.csv
Ultimatum/Subject_31.csv
Ultimatum/Subject_32.csv
Ultimatum/Subject_33.csv
Ultimatum/Subject_34.csv
Ultimatum/Subject_35.csv
Ultimatum/Subject_36.csv
Ultimatum/Subject_37.csv
Ultimatum/Subject_38.csv
Ultimatum/Subject_39.csv
Ultimatum/Subject_4.csv
Ultimatum/Subject_40.csv
Ultimatum/Subject_41.csv
Ultimatum/Subject_42.csv
Ultimatum/Subject_43.csv
Ultimatum/Subject_44.csv
Ultimatum/Subject_45.csv
Ultimatum/Subject_46.csv
Ultimatum/Subject_47.csv
Ultimatum/Subject_48.csv
Ultimatum/Subject_49.csv
Ultimatum/Subject_5.csv
Ultimatum/Subject_50.csv
Ultimatum/Subject_51.csv
Ultimatum/Subject_52.csv
Ultimatum/Subject_53.csv
Ultimatum/Subject_54.csv
Ultimatum/Subject_55.csv
Ultimatum/Subject_56.csv
Ultimatum/Subject_57.csv
Ultimatum/Subject_58.csv
Ultimatum/Subject_59.csv
Ultimatum/Subject_6.csv
Ultimatum/Subject_60.csv
Ultimatum/Subject_61.csv
Ultimatum/Subject_62.csv
Ultimatum/Subject_63.csv
Ultimatum/Subject_64.csv
Ultimatum/Subject_65.csv
Ultimatum/Subject_66.csv
Ultimatum/Subject_67.csv
Ultimatum/Subject_68.csv
Ultimatum/Subject_69.csv
Ultimatum/Subject_7.csv
Ultimatum/Subject_70.csv
Ultimatum/Subject_71.csv
Ultimatum/Subject_72.csv
Ultimatum/Subject_73.csv
Ultimatum/Subject_74.csv
Ultimatum/Subject_75.csv
Ultimatum/Subject_76.csv
Ultimatum/Subject_77.csv
Ultimatum/Subject_78.csv
Ultimatum/Subject_79.csv
Ultimatum/Subject_8.csv
Ultimatum/Subject_80.csv
Ultimatum/Subject_81.csv
Ultimatum/Subject_82.csv
Ultimatum/Subject_83.csv
Ultimatum/Subject_84.csv
Ultimatum/Subject_85.csv
Ultimatum/Subject_86.csv
Ultimatum/Subject_87.csv
Ultimatum/Subject_88.csv
Ultimatum/Subject_89.csv
Ultimatum/Subject_9.csv
Ultimatum/Subject_90.csv
Ultimatum/Subject_91.csv
Ultimatum/Subject_92.csv
Ultimatum/Subject_93.csv
Ultimatum/Subject_94.csv
Ultimatum/Subject_95.csv
Ultimatum/Subject_96.csv
Ultimatum/Subject_97.csv
Ultimatum/Subject_98.csv
Ultimatum/Subject_99.csv
Ultimatum/UG.m
